
.carte {
  width: 50rem;
  margin: 20px;
  border-color: #FF8000;
  border: 5px solid #FF8000;
  font-size: 1.5em;
}
.bouton {
  margin: 20px;
  font-size: 1em;
}
.boutonModif {
  background-color: #007FFF !important;
  border-color: #007FFF !important;
  color: #000;
}
.boutonSuppr {
  background-color: #FF00FF !important;
  border-color: #FF00FF !important;
  color: #000;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .bouton {
    width: 150px;
    height: 50px;
  }

}

