

.title > h1 {
    font-size: 4em;
    color: #119911;
    margin-bottom: 40px;
}
.boutton-accueil{
    margin: 20px;
    
}
.button-home {
    background-color: #FF8000;
    color: #000;
    height: 50px;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    border-color:#FF8000;
    margin: 20px;
    
}
.button-home:hover {
  background-color: #00FF00;
  border-color: #00FF00;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(780deg);
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .App-logo{
        width: 100px;
        height: 100px;
    }
    .button-home{
        width: 200px;
    }
    }