.App {
  text-align: center;
}

.App-logo {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90px;

  pointer-events: none;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-color: #FFF;
  color: #000;
  border-radius: 25px;
  height: 550px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > h2 {
  margin-top: 5%;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.phrase {
  font-size: 2em;
  height: auto;
  margin-bottom: 0;
  font-weight: 900;
}

.emoji {
  font-size: 4em;
  
}

.change{
  margin-top: 10%;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1.3em;
  box-shadow: 3px 3px white;
  margin-bottom: 4%;
}
.change:hover {
  color: #03F3E5;
  background-color: #EE2FF1;
  box-shadow: 3px 3px #EE2FF1;

}
